#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: miltoncolque # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDBMdA6k1tmZEaUKDZqTF8RbqSvKx+ApzLVMNqC0N9N4QT2UsBXspf2NmLI82/wzokNlw/JAq0LMfHZOJ0h/U3Qr7V5PEUsfkFlJCGhxKIMiqPD/NiHgfFSRnUkzQYCovvtlljc1oHMvWF+LHLQu2pd/e02v4kKm65S2WbFEMJrzaSL7T8amEE6G5BQ4EczV0DN6f5XoRtlmGv0Nh9cO7c6HN6zSKbxkjG9rDMcXKl2drPsQZIaSQociA3+TJYIrYiS9AGHLxpzSFIqNvUzHlLnhjmHdj4BVXnbCY9XyWOjnpN1FncOaWWdjWeikufBcg446UVTZ8SuYFUxI91lz3/Iedru4ZExpdAgfwpb55BS29nXldFYuPi/VuRVNHBOBazce0LKeR09akDAinrAH5TTlYzBJhtXXf8fPxGkCXRsSidSPTm4IySpJfb5yeBe/QewY9KXyp/a66m+Kc8WwC8Nx1ZsclfzyGbsJVwDqc3HCtnoNFdj0XX+oC+NAZoPg2s= miltoncolque@milton-Inspiron
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
#ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDBMdA6k1tmZEaUKDZqTF8RbqSvKx+ApzLVMNqC0N9N4QT2UsBXspf2NmLI82/wzokNlw/JAq0LMfHZOJ0h/U3Qr7V5PEUsfkFlJCGhxKIMiqPD/NiHgfFSRnUkzQYCovvtlljc1oHMvWF+LHLQu2pd/e02v4kKm65S2WbFEMJrzaSL7T8amEE6G5BQ4EczV0DN6f5XoRtlmGv0Nh9cO7c6HN6zSKbxkjG9rDMcXKl2drPsQZIaSQociA3+TJYIrYiS9AGHLxpzSFIqNvUzHlLnhjmHdj4BVXnbCY9XyWOjnpN1FncOaWWdjWeikufBcg446UVTZ8SuYFUxI91lz3/Iedru4ZExpdAgfwpb55BS29nXldFYuPi/VuRVNHBOBazce0LKeR09akDAinrAH5TTlYzBJhtXXf8fPxGkCXRsSidSPTm4IySpJfb5yeBe/QewY9KXyp/a66m+Kc8WwC8Nx1ZsclfzyGbsJVwDqc3HCtnoNFdj0XX+oC+NAZoPg2s= miltoncolque@milton-Inspiron
